.entries-heading-container {
    padding-top: 2rem;
    padding-left: 2rem;
    margin-bottom: 5%
}
.entries-heading {
    font-size: 24px;
    font-weight: bold;
}
.pay-period-btn {
    font-size: 10px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: #26385F;
    border: none;
    margin-left: 1rem;
    top: -15%;
    position: relative;
}
.inline {
    display: inline;
}
select {
    background: #26385F;
    color: white;
    border-radius: 15px;
    padding: 0.25rem
}
input {
    background: #26385F;
    color: white;
    border-radius: 15px;
    padding: 0.25rem;
    border: none
}
input::placeholder {
    color: white
}
.entry {
    margin-left: 2rem;
    margin-right: 10%;
    margin-bottom: 10%;
    border: 1px solid;
    border-radius: 15px
}
.entry-left {
    border-right: 1px dashed black
}