nav {
    box-shadow: 0px 11.7288px 15.9504px rgba(0, 0, 0, 0.05);
  }
  .nav-link {
    color: #EF6E46 !important;
    padding-right: 1rem;
    padding-left: 1rem
  }
  .navbar-brand img {
    width: 12rem;
  }
  .navbar-toggler {
    border: none;
  }
  
  .navbar-collapse {
    text-align: right !important;
  }
  .pay-rate-input {
    border: none;
    width:80px;
    color:#EF6E46;
    background-color: inherit;
    padding: none
  }
  
  .pay-rate-input:focus {
    outline: none;
    border-bottom: 1px solid #EF6E46;
  }

  .pay-rate-input input::-webkit-outer-spin-button, .pay-rate-input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }